<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head.ejs") %>
<body>
  <%- include ("./partials/nav.ejs") %>


    <div class="about content">
        <h2>About Us</h2>
        <p>orem ipsum dolor sit amet consectetur adipisicing elit. Earum quod dolorum aut ipsam eveniet? Deserunt, unde mollitia. Eum nisi voluptatem possimus optio hic enim, temporibus quos fuga, sunt modi eligendi.</p>
        <p>orem ipsum dolor sit amet consectetur adipisicing elit. Earum quod dolorum aut ipsam eveniet? Deserunt, unde mollitia. Eum nisi voluptatem possimus optio hic enim, temporibus quos fuga, sunt modi eligendi.</p>
        <p>orem ipsum dolor sit amet consectetur adipisicing elit. Earum quod dolorum aut ipsam eveniet? Deserunt, unde mollitia. Eum nisi voluptatem possimus optio hic enim, temporibus quos fuga, sunt modi eligendi.</p>
        <p>orem ipsum dolor sit amet consectetur adipisicing elit. Earum quod dolorum aut ipsam eveniet? Deserunt, unde mollitia. Eum nisi voluptatem possimus optio hic enim, temporibus quos fuga, sunt modi eligendi.</p>
        <p>orem ipsum dolor sit amet consectetur adipisicing elit. Earum quod dolorum aut ipsam eveniet? Deserunt, unde mollitia. Eum nisi voluptatem possimus optio hic enim, temporibus quos fuga, sunt modi eligendi.</p>

    </div>
    <%- include ("./partials/footer.ejs") %>
</body>
</html>